<div style="width: 50%; margin: 50px auto">
  <pre>
  <strong>GET /posts</strong>
  All of the posts created by all users.

  <strong>GET /users</strong>
  All of the users in the database.

  <strong>POST /users</strong>
  Create a new user.

  <strong>GET /users/:username/posts</strong>
  The posts created by a specific user.

  <strong>POST /users/:username/posts</strong>
  (Requires API Key) Create a new post for a specific user.

  <strong>POST /authenticate</strong>
  Give a valid username and password and receive that user's API key.
  </pre>
</div>