<div style="text-align: center; margin: 100px">
  <%= image_tag 'logo.png' %>
  <h1>The API-based social network.</h1>
</div>

<pre class="documentation">
<h2>User:</h2>
    <strong>username</strong>: Required String
    <strong>email</strong>:    Required String
    <strong>password</strong>: Required String

Supported REST endpoints: <strong>GET</strong>, <strong>POST</strong>, <strong>PATCH/PUT</strong>, <strong>DELETE</strong>
Identifying Attribute: <strong>username</strong>


<h2>Post:</h2>
    <strong>id</strong>:      Supplied Integer
    <strong>content</strong>: Required Text
    <strong>user_id</strong>: Required String

Supported REST endpoints: <strong>GET</strong>, <strong>POST</strong>, <strong>PATCH/PUT</strong>, <strong>DELETE</strong>
Identifying Attribute: <strong>id</strong>
<em>
<strong>NOTE</strong>: Posts can only be created by POSTing under a user's resource.
      Furthermore, you must provide that user's API key as proof of authenticity.
</em>
<strong>Example</strong>:

<strong>POST</strong> /users/testuser/posts
  {
    <strong>content</strong>: "Testing",
    <strong>key</strong>: "testuser's api key"
  }


<h2>Other Routes</h2>
<strong>POST /authenticate</strong>
  Give a valid username and password and receive that user's API key.
  <strong>Expects:</strong>
    - <strong>username</strong>:String
    - <strong>password</strong>:String
  <strong>Returns:</strong>
    - key:String
</pre>
